<!DOCTYPE html>
<html>

<body background="pic.jpg">

<h1><center>Welcome!</h1>
<h3>Please start by entering your name</h3>
<p><h5>Please follow the order of buttons</h5></p>
<input id="numb">

<p><button type="button" onclick="myFunction()">Submit</button>

<p><button type="button" onclick="myFunction1()">Lets Start with Introduction</button>
<p><button type="button" onclick="myFunction2()">Facts</button>
<p><button type="button" onclick="myFunction3()">Scene 1</button>
   <p> <button type="button" onclick="myFunction4()">Choose to eat samosas</button>   <button type="button" onclick="myFunction5()">An auto is just leaving</button>
<p><button type="button" onclick="myFunction6()"> At Zero Mile</button>
<p><button type="button" onclick="myFunction7()"> At Temple junction</button>
<p><button type="button" onclick="myFunction8()"> At Temple</button>
<p><button type="button" onclick="myFunction9()"> At the house</button>
<p><button type="button" onclick="myFunction10()"> After the incident</button>
<p><button type="button" onclick="myFunction11()"> Rest in the Shed</button>
<p><button type="button" onclick="myFunction12()"> Again at Zero Mile </button>
<p id="demo"></p>


<script>
function myFunction() {
    var x, text;

    // Get the value of the input field with id="numb"
  x = document.getElementById("numb").value;

    y = "We are glad to have you "+ x+". Enjoy the game!";
    document.getElementById("demo").innerHTML =y ;
}

function myFunction1() {
    document.getElementById("demo").innerHTML = "A story of a 14 year old boy's quest to be home....Read the facts.";
}
function myFunction2() {
    document.getElementById("demo").innerHTML = "<P>FACT1: The story takes place at Begusarai district in Bihar. It is known to be a Naxalite area</P><P>FACT2: Being a sensitive area, people are under constant threat. So avoid any outdoor activities when the sun goes down.</p><p>FACT3: The boy is returning from a boarding school in patna to his hometown of Nonpur. He considers himself old enough to travel alone</p><p>FACT4: First bus leaves for Nonpur at 5am</p><p>FACT5:The boy arrives at Begusarai around 10pm</p><p>FACT6:The boy was going home witout prior notice</p>";
}
function myFunction3() {
    
    document.getElementById("demo").innerHTML = "Its 10:00PM. You are the bus stop of Begusari. With some cash in your pocket. Search for options to go home. And yes, you are hungry";
                                                              

}
function myFunction4() {
    document.getElementById("demo").innerHTML ="You have eaten. But you now have only Rs.50, exactly the amount for bus ticket."
}
function myFunction5() {
    document.getElementById("demo").innerHTML ="You choose to go by auto till Zero Mile."
}
function myFunction6() {
    document.getElementById("demo").innerHTML ="At point Zero Mile. You meet a stranger on a bike, who is on his way to place A. He demands money to drop you till temple junction, which is nearer to your hometown"
}
function myFunction7() {
    document.getElementById("demo").innerHTML ="Its 11:00 PM. The stranger has droped you at temple junction. The sound of people singing in a temple hidden by trees. You go there to be around people."
}
function myFunction8() {
    document.getElementById("demo").innerHTML ="There was no transport available to be home. So at the temple you decide to spend some time. Everybody but the priest leaves around 1 am. Understanding the situation, he asks to stay at his house near the temple, and leave in the morning."

}
function myFunction9() {
    document.getElementById("demo").innerHTML="The priest is 85. He is also ill. Some time later you hear heavy coughing, you wake up to help the priest. No sooner you bring water, he lays motionless im his bed."
}
function myFunction10() {
    document.getElementById("demo").innerHTML="You run outside to get help. There are no houses nearby. You also cant go back to the house. What to do now?"
}
function myFunction11() {
    document.getElementById("demo").innerHTML="There is shed at the temple. You lay there till 4:30 AM. After which you walk back to Zero Mile"
}
function myFunction12() {
    document.getElementById("demo").innerHTML="At 5:00 AM, a bus arrives. You dont have enough money to pay for the ticket. At that very moment your uncle recognises you, who was in the bus. The bus takes you home"
}

</script>
   

</body>
</html>
